{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add-Review</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/review.css' %}">
</head>
<body>
   <div class="container">
  <div class="form-container">
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      
      <button type="submit">Submit</button>
    </form>
    <div class="back-button">
      <a href="{{ request.META.HTTP_REFERER }}">Back</a>
    </div>
  </div>
</div>

<button><bold><a href="{{ request.META.HTTP_REFERER }}">Back</a></bold></button>
</body>
</html>