{% extends 'menu/new_base.html' %}

{% block content %}
  <h1>Cart</h1>
  {% if cart_items %}
    <table>
      <thead>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Update</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart_items %}
          <tr>
            <form method="post" action="{% url 'update_cart' item.id %}">
              {% csrf_token %}
              <td>{{ item.item.name }}</td>
              <td><input type="number" name="quantity" value="{{ item.quantity }}" min="1"></td>
              <td><button type="submit">Update</button></td>
            </form>
            <td><a href="{% url 'remove_from_cart' item.id %}">Remove</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <button><a href="{% url 'checkout'%}">Checkout</a></button>
  {% else %}
    <p>Your cart is empty.</p>
  {% endif %}
{% endblock %}
