{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <title>LOGIN</title>
</head>
<body>
        <a href="{% url 'restaurant' %}">
    <img src="{% static 'images/camo runners.jpg' %}" alt="Camo Runners" class="logo-image">
  </a>
    <div class="container">
        <div class="form-box">
            <h1 id="title">Sign Up</h1>
            <form method="POST" action="">
                {% csrf_token %}
                <div class="input-group">
                    <div class="input-field" id="nameField">
                        <input type="text" name="username" placeholder="Username" />
                    </div>
                    <div class="input-field">
                        <input type="text" name="password" placeholder="Password" />
                    </div>
                    <input type="submit" value="Login"/>
                </div>
                <p>SignUp Here</p>
                <div class="btn-field">
                    <a href="{%url 'register'%}"><button type="button" id="signupBtn">Sign Up</button></a>
                    <a href="{{ request.META.HTTP_REFERER }}"><button type="button" id="signinBtn" class="disable">Back</button></a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
