{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
</head>
<body>
  <a href="{% url 'restaurant' %}">
    <img src="{% static 'images/camo runners.jpg' %}" alt="Camo Runners" class="logo-image">
  </a>

  <div class="menu-container">
    <ul class="menu">
      {% for item in items %}
        <li class="menu-item">
          {% if item.stock == 0 %}
            <div class="item-image out-of-stock">
              <span>Out of Stock</span>
              <img src="{{item.image.url}}" alt="{{ item.name }}">
            </div>
          {% else %}
            
              <div class="item-image">
                {% if item.image.url %}
                  <img src="{{item.image.url}}" alt="{{ item.name }}">
                
                {% endif %}
              </div>
            </a>
          {% endif %}
          <div class="item-details">
            <h3><a href="{%url 'product' item.id%}">{{ item.name }}</a></h3>
            <p>Price: {{ item.price }}</p>
            <span><a {% if not user.is_authenticated %}href="{% url 'login' %}"{% else %}href="{% url 'add_to_cart' item.pk %}"{% endif %}>add-to-cart</a></span>
          </div>
        </li>
      {% empty %}
        <li class="no-items">No items in the menu.</li>
      {% endfor %}
    </ul>
  </div>

</body>
</html>
