{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reviews</title>
  <link rel="stylesheet" type='text/css' href="{% static 'css/review.css' %}">
  
</head>
<body>
  <div class="container">
    <a href="{% url 'restaurant' %}">
      <img src="{% static 'images/camo runners.jpg' %}" alt="TGU-CANTEEN" class="image">
    </a>

    <div>
      <h2>{{ restaurant.name }}</h2>
      <p>{{ restaurant.description }}</p>
    </div>
    
    <hr>
    
    <div>
      <h3>Reviews:</h3>
      {% for review in reviews %}
        <p><strong>{{ review.user.username }}:</strong> {{ review.comment }}</p>
        {% if request.user == review.user %}
          <small>Posted on {{ review.created_at }} <a href="{% url 'delete-review' review_id=review.id %}">Delete</a></small>
        {% endif %}
        <hr>
      {% empty %}
        <p>No reviews yet.</p>
      {% endfor %}
    </div>

    <div class="button-group">
      <button class="back-button"><a href="{{ request.META.HTTP_REFERER }}">Back</a></button>
      

      {% if user.is_authenticated %}
        <button class="add-comment-button"><a href="{% url 'add-review' %}">Comment</a></button>
      {% else %}
        <button class="add-comment-button"><a href="{% url 'login' %}">Comment</a></button>
      {% endif %}
    </div>
  </div>
</body>
</html>
