{% extends "menu/new_base.html" %}

{% block content %}
  <div>
    <h2>{{ restaurant.name }}</h2>
    <p>{{ restaurant.description }}</p>
  </div>
  
  <div>
    <h3>Add a review:</h3>
    {%if user.is_authenticated%}
      <a href="{%url 'add-review'%}">add Comment</a>
    {%else%}
      <a href="{%url 'login'%}">add Comment</a>
    {%endif%}
    

  </div>
  
  <hr>
  
  <div>
    <h3>Reviews:</h3>
    {% for review in reviews %}
      <p><strong>{{ review.user.username }}:</strong> {{ review.comment }}</p>
      {% if request.user == review.user %}
        <small>Posted on {{ review.created_at }} <a href="{%url 'delete-review' review_id=review.id%}">Delete</a></small>
      {%endif%}
      <hr>
    {% empty %}
      <p>No reviews yet.</p>
    {% endfor %}
  </div>
{% endblock %}
